@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
		- Type
		- Layout
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */

*, h1, h2, h3, h4  { 
	font-family: 'effra', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	
}

/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

/* -- TYPOGRAPHY -- */ 

.hero-image-mm p, h2,h3, #home-page-menu-mm p, #home-page-menu-mm a, .button a, #featured-breweries-mm p, #cocktail-list p:first-child, #music-page-menu p:first-of-type, 
#events-page-menu p:first-of-type {
	font-family: mokoko, serif;
	font-style: normal;
	font-weight: 500;
}

.hero-image-mm p {
	font-size: 2.5rem;
	line-height: 3.5rem;
}

h2, #featured-breweries-mm p, #cocktail-list p:first-child{
	font-size: 2.5rem;
}

#home-page-menu-mm p, h3, #home-page-menu-mm a, .hero-intro-text, #music-page-menu p:first-of-type, #events-page-menu p:first-of-type, #featured-drinks-mm h3 {
	font-size: 1.5rem;
}
nav, .hero-image-mm p, h2, h3, #home-page-menu-mm p, #home-page-menu-mm a, .button a, footer a{
	color: #fff;
}

nav, h2, h3, #home-page-menu-mm p, footer li, #featured-breweries-mm p, #cocktail-list p:first-child, #music-page-menu p:first-of-type, #events-page-menu p:first-of-type, footer a{
	text-transform: uppercase;
}


#beer-month-mm h3, #about-content-mm h2, #music-page h2, .events-page h2  {
	color: #1F1F1D;
}

 

.featured-drinks-text, .about-content-text {
	padding: 60px;
}

.breweries-logo-spacing {
	margin-bottom: 15px;
}

.button a, footer p {
	font-size: 1rem;
}

@media screen and (min-width: 768px) {
	.hero-image-mm p {
		font-size: 4rem;
		line-height: 4.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	


	
}

@media screen and (min-width: 1024px) {
	
	.hero-image-mm p {
		font-size: 5.5rem;
		line-height: 6rem;
	}
	
	/* -- BREWERY BUTTONS -- */ 

	 .breweries-logo-spacing div, .brewery-hover {
		border-bottom: solid 10px #ffb100;
	}
	.breweries-logo-spacing div:hover, .brewery-hover:hover {
		border: solid 10px #ffb100;

	}
	
	footer div div div:nth-child(3) a:hover {
		border-bottom: solid 5px #ffb100;
	}
	
	
}

/* -- HEADER NAVIGATION -- */ 

.top-bar ul:first-child a {
	color: #fff;
	margin-right: 50px;
	
}

.top-bar .hide-for-small-only a:hover, footer a:hover{
	color: #ffb100;
}

.top-bar ul:first-child a:hover {
	border-bottom: solid thick #ffb100;
}

.top-bar .hide-for-small-only a {
	color: #fff;
	margin-left: 10px;
	
}


.circle-icon {
    background: #ffb100;
    padding:10px;
    border-radius: 50%;
}

.circle-icon:hover {
    background: #fff;
    padding:10px;
    border-radius: 50%;
}





/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */ 


/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

/* -- TYPE -- */ 

.top-bar, .top-bar ul {
    background-color: #1F1F1D;
}

header li {
	list-style-type: none;
}

nav div:last-child li a {
	margin-right: 20px;
}

nav div li{
	text-justify: center;
}
/* -- LAYOUT -- */ 

/* --TRANSITONS-- */ 

.trans-hz{
   
    display: inline-block;
    background: white; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, white 50%, #1F1F1D 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
	
}
.trans-container-hz:hover .trans-hz{
    background-position: left;
}

.trans-left {
	width: 100px;
	
}




/*-- SPACING FOR CONTENT --*/

#home-page-menu-mm, #featured-drinks-mm, #featured-breweries-mm, #about-content-mm, #about-content-mm, #cocktail-list, #music-page, #music-page-menu, .events-page, #events-page-menu{
	margin-top: 40px;
	margin-bottom: 40px;
}

#cocktail-list p:first-child {
	margin-top:70px;
	margin-bottom:0;
}

/* -- BUTTONS -- */
.button {
	background-color: #ffb100;
}

.button:hover {
	background-color: #1F1F1D;
	border: thin solid #ffb100;
}

.button.expanded-hm {
    display: block;
}

.button.expand-hm {
		display:block;
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	

@media only screen and (min-width: 64em) {
    .button.expanded-hm {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

footer div div div:nth-child(2) {
    margin-top: auto;
}
footer div div div:last-child {
    margin-left: auto;
}
/* -- HEADERS -- */ 


@media screen and (min-width: 640px) {
	
	/*TYPE*/
	

	
	/*LAYOUT*/
	
	header li, footer ul:first-child li {
	display: inline-block;
	}
	
	.center {
	position: relative;
	top: -40%;

	}
	
	/* --TRANSITONS-- */ 
	
	.trans-shift-hz {
	position: relative;
	top: 0px;
	left: 425px;
	transition: left 1s;
}

.trans-shift-container-hz:hover .trans-shift-hz {
	left: 0px;
}

	
}

@media screen and (min-width: 1024px) {
	
	
 	/* --TRANSITONS-- */ 
	
	.trans-shift-hz {
		left: 300px;
	}
	
}



/*--------------------------------------------------------------
7.0 - UTILITES
-------------------------------------------------------------- */

/* -- ALLIGNMENT -- */ 


.gray-bg-mm {
	background-color: gray;
}

.bg-black-mm p, #featured-drinks-mm p, .trans-hz p {
	color: #fff;
}

.bg-black-mm, #beer-month-mm {
	background-color: #1F1F1D;
	padding: 50px 0;
}

.hero-image-mm {
  background: url("../img/home-page-hero.jpg") 100% no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}


